<a href="https://colab.research.google.com/github/Kunbao2006/2019DataScienceCourse/blob/master/20191014_02_Pandas_and_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas and Dataframes

**Pandas** is a popular Python library, used for statistical analysis. We operate on **dataframes**, which you can think of as "Excel sheets as variables in Python".

In [142]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

driveLoc = "/content/drive/My Drive"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Importing data

Now, let's import some data! We do this using the `read_csv` function within the `pd` library, so we call it with `pd.read_csv`. We tell it one thing: the location of the file to be read. 

Let's get started by importing a CSV file, which are plain-text versions of data values! Some sample CSV files can be found in this server's `Resources` folder. To use them, you'll need to go to the homepage, download the CSV files from the `Resources` folder, and **re-upload to the same folder as this notebook**. 

Once you're ready, run this line to store all that data in to a single variable:

Google Drive is mounted at /content/drive

/content/drive/My Drive/Colab Notebooks/T4 Data Analysis /Original

In [0]:
data = pd.read_csv(r"/content/drive/My Drive/Colab Notebooks/T4 Data Analysis /Original/gdp_asia.csv")

Printing is a bit unwieldy because of all the data. To read just a bit of info from the beginning, which lets you check if everything imported correctly, use `.head()`:

In [0]:
data.head(10) # number of lines to be printed out

In [0]:
data.tail()

Notice that the column headings are each of the columns in the CSV file, and the row headings are just numbers. This is OK, but not quite right--we want each row heading to be the country. In pandas terminology, we want to **set the country column as the index**. To do this, we re-import, and specify an `index_col`:

In [0]:
data = pd.read_csv(r"/content/drive/My Drive/Colab Notebooks/T4 Data Analysis /Original/gdp_asia.csv", index_col="country")

In [12]:
data.head()

             gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
country                                      ...
Afghanistan      779.445314      820.853030  ...      726.734055      974.580338
Bahrain         9867.084765    11635.799450  ...    23403.559270    29796.048340
Bangladesh       684.244172      661.637458  ...     1136.390430     1391.253792
Cambodia         368.469286      434.038336  ...      896.226015     1713.778686
China            400.448611      575.987001  ...     3119.280896     4959.114854

[5 rows x 12 columns]

Now, the first two rows look a bit weird, but that's pandas' way of telling us that "country" is an index column. You can have multiple index columns, but that's beyond the scope of this class.

<hr>

## Some DataFrame operations

Some useful functions you can do with DataFrames below. Try them out, and see what they do!

In [13]:
data.describe()

       gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
count       33.000000       33.000000  ...       33.000000       33.000000
mean      5195.484004     5787.732940  ...    10174.090397    12473.026870
std      18634.890865    19506.515959  ...    11150.719203    14154.937343
min        331.000000      350.000000  ...      611.000000      944.000000
25%        749.681655      793.577415  ...     2092.712441     2452.210407
50%       1206.947913     1547.944844  ...     4090.925331     4471.061906
75%       3035.326002     3290.257643  ...    19233.988180    22316.192870
max     108382.352900   113523.132900  ...    36023.105400    47306.989780

[8 rows x 12 columns]

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, Afghanistan to Yemen Rep.
Data columns (total 12 columns):
gdpPercap_1952    33 non-null float64
gdpPercap_1957    33 non-null float64
gdpPercap_1962    33 non-null float64
gdpPercap_1967    33 non-null float64
gdpPercap_1972    33 non-null float64
gdpPercap_1977    33 non-null float64
gdpPercap_1982    33 non-null float64
gdpPercap_1987    33 non-null float64
gdpPercap_1992    33 non-null float64
gdpPercap_1997    33 non-null float64
gdpPercap_2002    33 non-null float64
gdpPercap_2007    33 non-null float64
dtypes: float64(12)
memory usage: 4.6+ KB

In [15]:
data.mean()

gdpPercap_1952     5195.484004
gdpPercap_1957     5787.732940
gdpPercap_1962     5729.369625
gdpPercap_1967     5971.173374
gdpPercap_1972     8187.468699
gdpPercap_1977     7791.314020
gdpPercap_1982     7434.135157
gdpPercap_1987     7608.226508
gdpPercap_1992     8639.690248
gdpPercap_1997     9834.093295
gdpPercap_2002    10174.090397
gdpPercap_2007    12473.026870
dtype: float64

In [16]:
data.max()

gdpPercap_1952    108382.35290
gdpPercap_1957    113523.13290
gdpPercap_1962     95458.11176
gdpPercap_1967     80894.88326
gdpPercap_1972    109347.86700
gdpPercap_1977     59265.47714
gdpPercap_1982     33693.17525
gdpPercap_1987     28118.42998
gdpPercap_1992     34932.91959
gdpPercap_1997     40300.61996
gdpPercap_2002     36023.10540
gdpPercap_2007     47306.98978
dtype: float64

In [17]:
data.min()

gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64

In [19]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [20]:
data.index

Index(['Afghanistan', 'Bahrain', 'Bangladesh', 'Cambodia', 'China',
       'Hong Kong China', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel',
       'Japan', 'Jordan', 'Korea Dem. Rep.', 'Korea Rep.', 'Kuwait', 'Lebanon',
       'Malaysia', 'Mongolia', 'Myanmar', 'Nepal', 'Oman', 'Pakistan',
       'Philippines', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria',
       'Taiwan', 'Thailand', 'Vietnam', 'West Bank and Gaza', 'Yemen Rep.'],
      dtype='object', name='country')

### <font color="red">Exercise 1: Import and check

Import the data from the CSV files of the other continents, and check how many rows of data they each have.

In [65]:
continents = ["africa","americas","asia", "europe", "oceania","pop_all"]
for i in continents:
  exec("data_%s = pd.read_csv(r'/content/drive/My Drive/Colab Notebooks/T4 Data Analysis /Original/gdp_'+i+'.csv', index_col='country')" % i)
  exec("print(data_%s.head())" % i) # to check if data is correctly imported
  exec("print(len(data_%s))" % i)

              gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
country                                       ...
Algeria          2449.008185     3013.976023  ...     5288.040382     6223.367465
Angola           3520.610273     3827.940465  ...     2773.287312     4797.231267
Benin            1062.752200      959.601080  ...     1372.877931     1441.284873
Botswana          851.241141      918.232535  ...    11003.605080    12569.851770
Burkina Faso      543.255241      617.183465  ...     1037.645221     1217.032994

[5 rows x 12 columns]
52
          continent  gdpPercap_1952  ...  gdpPercap_2002  gdpPercap_2007
country                              ...
Argentina  Americas     5911.315053  ...     8797.640716    12779.379640
Bolivia    Americas     2677.326347  ...     3413.262690     3822.137084
Brazil     Americas     2108.944355  ...     8131.212843     9065.800825
Canada     Americas    11367.161120  ...    33328.965070    36319.235010
Chile      Americas     3939.978789  ...    10778.783850    13171.638850

[5 rows x 13 columns]
25
             gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
country                                      ...
Afghanistan      779.445314      820.853030  ...      726.734055      974.580338
Bahrain         9867.084765    11635.799450  ...    23403.559270    29796.048340
Bangladesh       684.244172      661.637458  ...     1136.390430     1391.253792
Cambodia         368.469286      434.038336  ...      896.226015     1713.778686
China            400.448611      575.987001  ...     3119.280896     4959.114854

[5 rows x 12 columns]
33
                        gdpPercap_1952  ...  gdpPercap_2007
country                                 ...
Albania                    1601.056136  ...     5937.029526
Austria                    6137.076492  ...    36126.492700
Belgium                    8343.105127  ...    33692.605080
Bosnia and Herzegovina      973.533195  ...     7446.298803
Bulgaria                   2444.286648  ...    10680.792820

[5 rows x 12 columns]
30
             gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
country                                      ...
Australia       10039.59564     10949.64959  ...     30687.75473     34435.36744
New Zealand     10556.57566     12247.39532  ...     23189.80135     25185.00911

[2 rows x 12 columns]
2
             continent  gdpPercap_1952  ...  pop_2002  pop_2007
country                                 ...
Algeria         Africa     2449.008185  ...  31287142  33333216
Angola          Africa     3520.610273  ...  10866106  12420476
Benin           Africa     1062.752200  ...   7026113   8078314
Botswana        Africa      851.241141  ...   1630347   1639131
Burkina Faso    Africa      543.255241  ...  12251209  14326203

[5 rows x 37 columns]
142

               country  gdpPercap_1952  ...  gdpPercap_2002  gdpPercap_2007
0          Afghanistan      779.445314  ...      726.734055      974.580338
1              Bahrain     9867.084765  ...    23403.559270    29796.048340
2           Bangladesh      684.244172  ...     1136.390430     1391.253792
3             Cambodia      368.469286  ...      896.226015     1713.778686
4                China      400.448611  ...     3119.280896     4959.114854
5      Hong Kong China     3054.421209  ...    30209.015160    39724.978670
6                India      546.565749  ...     1746.769454     2452.210407
7            Indonesia      749.681655  ...     2873.912870     3540.651564
8                 Iran     3035.326002  ...     9240.761975    11605.714490
9                 Iraq     4129.766056  ...     4390.717312     4471.061906
10              Israel     4086.522128  ...    21905.595140    25523.277100
11               Japan     3216.956347  ...    28604.591900    31656.068060
12              Jordan     1546.907807  ...     3844.917194     4519.461171
13     Korea Dem. Rep.     1088.277758  ...     1646.758151     1593.065480
14          Korea Rep.     1030.592226  ...    19233.988180    23348.139730
15              Kuwait   108382.352900  ...    35110.105660    47306.989780
16             Lebanon     4834.804067  ...     9313.938830    10461.058680
17            Malaysia     1831.132894  ...    10206.977940    12451.655800
18            Mongolia      786.566857  ...     2140.739323     3095.772271
19             Myanmar      331.000000  ...      611.000000      944.000000
20               Nepal      545.865723  ...     1057.206311     1091.359778
21                Oman     1828.230307  ...    19774.836870    22316.192870
22            Pakistan      684.597144  ...     2092.712441     2605.947580
23         Philippines     1272.880995  ...     2650.921068     3190.481016
24        Saudi Arabia     6459.554823  ...    19014.541180    21654.831940
25           Singapore     2315.138227  ...    36023.105400    47143.179640
26           Sri Lanka     1083.532030  ...     3015.378833     3970.095407
27               Syria     1643.485354  ...     4090.925331     4184.548089
28              Taiwan     1206.947913  ...    23235.423290    28718.276840
29            Thailand      757.797418  ...     5913.187529     7458.396327
30             Vietnam      605.066492  ...     1764.456677     2441.576404
31  West Bank and Gaza     1515.592329  ...     4515.487575     3025.349798
32          Yemen Rep.      781.717576  ...     2234.820827     2280.769906

[33 rows x 13 columns]

In [45]:
america.head()

NameError: ignored

<hr>

## Reading and filtering data in DataFrames

There are many, many ways of accessing data in DataFrames. Here are a few ways--you can read up on other ways at the [Pandas DataFrame documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) page. It's worth clicking over just to see the variety of functions you can call to handle DataFrames!

Here, though, we'll start with accessing information the way you'd expect, by row and column:

In [30]:
#         Row, Column
data.iloc[0,0]

779.4453145

In [31]:
data.iloc[0:4,0:2]

             gdpPercap_1952  gdpPercap_1957
country
Afghanistan      779.445314      820.853030
Bahrain         9867.084765    11635.799450
Bangladesh       684.244172      661.637458
Cambodia         368.469286      434.038336

In [34]:
data.loc["Afghanistan","gdpPercap_1952"]

779.4453145

In [35]:
data.loc["Afghanistan":"China","gdpPercap_1952":"gdpPercap_1962"]

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Afghanistan      779.445314      820.853030      853.100710
Bahrain         9867.084765    11635.799450    12753.275140
Bangladesh       684.244172      661.637458      686.341554
Cambodia         368.469286      434.038336      496.913648
China            400.448611      575.987001      487.674018

In [40]:
data.loc["China","gdpPercap_1962"]

487.6740183

In [42]:
rowsToShow = ["China","India","Singapore"]
colsToShow = ["gdpPercap_1952","gdpPercap_2002"]

data.loc[rowsToShow,colsToShow]

           gdpPercap_1952  gdpPercap_2002
country
China          400.448611     3119.280896
India          546.565749     1746.769454
Singapore     2315.138227    36023.105400

In [43]:
data.loc[["China","India","Singapore"],["gdpPercap_1952","gdpPercap_2002"]]

           gdpPercap_1952  gdpPercap_2002
country
China          400.448611     3119.280896
India          546.565749     1746.769454
Singapore     2315.138227    36023.105400

In [48]:
for i in range(1, 6):
  exec("line_dict_%s = { 'a': 1 }" % i)

print (line_dict_1)

{'a': 1}

### <font color="red">Exercise 2: Get data

Import the necessary CSV file, and set up a DataFrame for the GDP data of Canada, the United States, and Mexico for last decade. Your result should look like this:

               gdpPercap_2002  gdpPercap_2007
country                                      
Canada            33328.96507     36319.23501
United States     39097.09955     42951.65309
Mexico            10742.44053     11977.57496

In [68]:
data_americas

rowsToShow = ["Canada","United States","Mexico"]
colsToShow = ["gdpPercap_2002","gdpPercap_2007"]

data_americas.loc[rowsToShow,colsToShow]

               gdpPercap_2002  gdpPercap_2007
country
Canada            33328.96507     36319.23501
United States     39097.09955     42951.65309
Mexico            10742.44053     11977.57496

<hr>

## Filtering data

Here's one of the most powerful features of DataFrames--being able to quickly work with large chunks of data. If you had to do this with for loops, it'd be a bit of pain to filter everything out item by item, not to mention having to reconstruct your lists one by one.

In [69]:
subset = data.loc["Afghanistan":"China", "gdpPercap_1952"]
subset

country
Afghanistan     779.445314
Bahrain        9867.084765
Bangladesh      684.244172
Cambodia        368.469286
China           400.448611
Name: gdpPercap_1952, dtype: float64

In [70]:
subset > 500

country
Afghanistan     True
Bahrain         True
Bangladesh      True
Cambodia       False
China          False
Name: gdpPercap_1952, dtype: bool

In [72]:
condition = subset > 500
subset[condition]

country
Afghanistan     779.445314
Bahrain        9867.084765
Bangladesh      684.244172
Name: gdpPercap_1952, dtype: float64

## More Filtering

Take a look at what's being done, and try to figure it out, particularly when it comes to the two-condition criteria!

In [0]:
# Can you figure out what's being done in the below code? 

#dataAll = pd.read_csv("gdp_pop_all.csv", index_col = "country")
dataAll = data_pop_all

print(len(dataAll))

print(dataAll["continent"])       # 1st method
print(dataAll.loc[:,"continent"]) # 2nd method
print(dataAll.continent)          # 3rd method

"""
Datafram syntaxes:
and - &
or  - |

Add new column:
var["columnName"] = var
"""


criteria = (dataAll["continent"] == "Asia") & (dataAll["gdpPercap_2007"] > 9000)  # criteria: in Asia and GDP Per Cap in 2007 is more than 9000
# specifying 2 conditions: continent == Asia, gdpPercap > 9000

dataAll["gdp_2007"] = dataAll["gdpPercap_2007"] * dataAll["pop_2007"]             # calculates the overall GDP in 2007 by muliplying the GDP Per Cap with the total population in 2007 and add a column for it
# creates a new column called gdp_2007 that calcs the ACTUAL GDP

print (dataAll["gdp_2007"])
dataAll[criteria][["gdpPercap_2007","pop_2007", "gdp_2007"]]
# filter the dataframe based off criteria, then print out only 3 columns

"""
In Simpler Words
colsToShow = ["gdpPercap_2007","pop_2007", "gdp_2007"]
subset = dataAll[criteria]
subset [colsToShow]
"""

In [102]:
rows_to_show = ["Singapore", "Malaysia"]
cols_to_show = ["gdpPercap_1952", "gdpPercap_1957"]
subset1 = data.loc[rows_to_show, cols_to_show]

rows_to_show = ["Thailand", "Indonesia"]
cols_to_show = ["gdpPercap_1952", "gdpPercap_1957"]
subset2 = data.loc[rows_to_show, cols_to_show]

rows_to_show = ["Thailand", "Indonesia"]
cols_to_show = ["gdpPercap_2002", "gdpPercap_2007"]
subset3 = data.loc[rows_to_show, cols_to_show]

newSubset = subset1.append(subset2)
newSubset

newSubset2 = subset1.append(subset3, sort=False)
newSubset2

           gdpPercap_1952  gdpPercap_1957  gdpPercap_2002  gdpPercap_2007
country
Singapore     2315.138227     2843.104409             NaN             NaN
Malaysia      1831.132894     1810.066992             NaN             NaN
Thailand              NaN             NaN     5913.187529     7458.396327
Indonesia             NaN             NaN     2873.912870     3540.651564

### <font color="red">Exercise 3: African data and filtering

* Read data from the Africa file
* Find the Per Capita GDP of Egypt in 2007
* Find countries whose Per Capita GDP exceeded Egypt's that year. 

There should be 9 countries.

In [0]:
data_africa

In [113]:
data_africa.loc["Egypt","gdpPercap_2007"]

5581.180998

In [132]:
subset = data_africa.loc[:,"gdpPercap_2007"]
condition = subset > data_africa.loc["Egypt","gdpPercap_2007"]
countriesExEgypt = subset [condition]
for i in countriesExEgypt.index:
  print (i)
print ("\nTotal number of countries:",len(countriesExEgypt))

Algeria
Botswana
Equatorial Guinea
Gabon
Libya
Mauritius
Reunion
South Africa
Tunisia

Total number of countries: 9

Teachers solution:

In [140]:
#africa = pd.read_csv("gdp_africa.csv", index_col="country")
africa = data_africa

egypt2007 = africa.loc["Egypt", "gdpPercap_2007"]

condition = africa["gdpPercap_2007"] > egypt2007
africa[condition]

                   gdpPercap_1952  ...  gdpPercap_2007
country                            ...
Algeria               2449.008185  ...     6223.367465
Botswana               851.241141  ...    12569.851770
Equatorial Guinea      375.643123  ...    12154.089750
Gabon                 4293.476475  ...    13206.484520
Libya                 2387.548060  ...    12057.499280
Mauritius             1967.955707  ...    10956.991120
Reunion               2718.885295  ...     7670.122558
South Africa          4725.295531  ...     9269.657808
Tunisia               1468.475631  ...     7092.923025

[9 rows x 12 columns]

### <font color="red">Exercise 4: What does this do? 

What do each of the lines in this chunk of code do? Run it, find out, and explain to someone sitting next to you.

In [141]:
#first = pd.read_csv('gdp_pop_all.csv', index_col='country')
first = data_pop_all                                # imports data
# imports the CSV file, set the index col

second = first[first['continent'] == 'Americas']    # adds all the countries in Americas into a new dataframe called second
# filter out to only show countries where continent ==  Americas

third = second.drop('Puerto Rico')                  # remove the row with Puerto Rico (no axis specified, so default is index (row))
# drops the Puerto Rico row for some reason

fourth = third.drop('continent', axis = 1)          # remove the label from the column with continent (axis = 1: column)
# drops the continent column for some reason by specifying the axis

fourth.to_csv('/content/drive/My Drive/result.csv')                         # exports the data into a CSV file named result.csv
fourth.to_excel("/content/drive/My Drive/result.xlsx")
print (first)
print (second)
print (third)
print (fourth)

                         continent  gdpPercap_1952  ...  pop_2007      gdp_2007
country                                             ...
Algeria                     Africa     2449.008185  ...  33333216  2.074449e+11
Angola                      Africa     3520.610273  ...  12420476  5.958390e+10
Benin                       Africa     1062.752200  ...   8078314  1.164315e+10
Botswana                    Africa      851.241141  ...   1639131  2.060363e+10
Burkina Faso                Africa      543.255241  ...  14326203  1.743546e+10
Burundi                     Africa      339.296459  ...   8390505  3.608510e+09
Cameroon                    Africa     1172.667655  ...  17696293  3.613752e+10
Central African Republic    Africa     1071.310713  ...   4369038  3.084613e+09
Chad                        Africa     1178.665927  ...  10238807  1.744758e+10
Comoros                     Africa     1102.990936  ...    710960  7.011117e+08
Congo Dem. Rep.             Africa      780.542326  ...  64606759  1.793173e+10
Congo Rep.                  Africa     2125.621418  ...   3800610  1.380594e+10
Cote d'Ivoire               Africa     1388.594732  ...  18013409  2.782622e+10
Djibouti                    Africa     2669.529475  ...    496374  1.033690e+09
Egypt                       Africa     1418.822445  ...  80264543  4.479709e+11
Equatorial Guinea           Africa      375.643123  ...    551201  6.699346e+09
Eritrea                     Africa      328.940557  ...   4906585  3.146934e+09
Ethiopia                    Africa      362.146280  ...  76511887  5.285484e+10
Gabon                       Africa     4293.476475  ...   1454867  1.921368e+10
Gambia                      Africa      485.230659  ...   1688359  1.270912e+09
Ghana                       Africa      911.298937  ...  22873338  3.036685e+10
Guinea                      Africa      510.196492  ...   9947814  9.377349e+09
Guinea-Bissau               Africa      299.850319  ...   1472041  8.526529e+08
Kenya                       Africa      853.540919  ...  35610177  5.210657e+10
Lesotho                     Africa      298.846212  ...   2012649  3.158513e+09
Liberia                     Africa      575.572996  ...   3193942  1.323912e+09
Libya                       Africa     2387.548060  ...   6036914  7.279009e+10
Madagascar                  Africa     1443.011715  ...  19167654  2.002579e+10
Malawi                      Africa      369.165080  ...  13327079  1.011992e+10
Mali                        Africa      452.336981  ...  12031795  1.254413e+10
...                            ...             ...  ...       ...           ...
Belgium                     Europe     8343.105127  ...  10392226  3.501412e+11
Bosnia and Herzegovina      Europe      973.533195  ...   4552198  3.389703e+10
Bulgaria                    Europe     2444.286648  ...   7322858  7.821393e+10
Croatia                     Europe     3119.236520  ...   4493312  6.568873e+10
Czech Republic              Europe     6876.140250  ...  10228744  2.335561e+11
Denmark                     Europe     9692.385245  ...   5468120  1.929066e+11
Finland                     Europe     6424.519071  ...   5238460  1.739540e+11
France                      Europe     7029.809327  ...  61083916  1.861228e+12
Germany                     Europe     7144.114393  ...  82400996  2.650871e+12
Greece                      Europe     3530.690067  ...  10706290  2.948342e+11
Hungary                     Europe     5263.673816  ...   9956108  1.792990e+11
Iceland                     Europe     7267.688428  ...    301931  1.092410e+10
Ireland                     Europe     5210.280328  ...   4109086  1.671412e+11
Italy                       Europe     4931.404155  ...  58147733  1.661264e+12
Montenegro                  Europe     2647.585601  ...    684736  6.336476e+09
Netherlands                 Europe     8941.571858  ...  16570613  6.097643e+11
Norway                      Europe    10095.421720  ...   4627926  2.284214e+11
Poland                      Europe     4029.329699  ...  38518241  5.927928e+11
Portugal                    Europe     3068.319867  ...  10642836  2.182808e+11
Romania                     Europe     3144.613186  ...  22276056  2.407702e+11
Serbia                      Europe     3581.459448  ...  10150265  9.933592e+10
Slovak Republic             Europe     5074.659104  ...   5447502  1.017502e+11
Slovenia                    Europe     4215.041741  ...   2009245  5.177474e+10
Spain                       Europe     3834.034742  ...  40448191  1.165760e+12
Sweden                      Europe     8527.844662  ...   9031088  3.057904e+11
Switzerland                 Europe    14734.232750  ...   7554661  2.833483e+11
Turkey                      Europe     1969.100980  ...  71158647  6.018795e+11
United Kingdom              Europe     9979.508487  ...  60776238  2.017969e+12
Australia                  Oceania    10039.595640  ...  20434176  7.036584e+11
New Zealand                Oceania    10556.575660  ...   4115771  1.036557e+11

[142 rows x 38 columns]
                    continent  gdpPercap_1952  ...   pop_2007      gdp_2007
country                                        ...
Argentina            Americas     5911.315053  ...   40301927  5.150336e+11
Bolivia              Americas     2677.326347  ...    9119152  3.485465e+10
Brazil               Americas     2108.944355  ...  190010647  1.722599e+12
Canada               Americas    11367.161120  ...   33390141  1.212704e+12
Chile                Americas     3939.978789  ...   16284741  2.144967e+11
Colombia             Americas     2144.115096  ...   44227550  3.098839e+11
Costa Rica           Americas     2627.009471  ...    4133884  3.987157e+10
Cuba                 Americas     5586.538780  ...   11416987  1.021604e+11
Dominican Republic   Americas     1397.717137  ...    9319622  5.615422e+10
Ecuador              Americas     3522.110717  ...   13755680  9.454640e+10
El Salvador          Americas     3048.302900  ...    6939688  3.975299e+10
Guatemala            Americas     2428.237769  ...   12572928  6.520383e+10
Haiti                Americas     1840.366939  ...    8502814  1.021730e+10
Honduras             Americas     2194.926204  ...    7483763  2.655487e+10
Jamaica              Americas     2898.530881  ...    2780132  2.035301e+10
Mexico               Americas     3478.125529  ...  108700891  1.301973e+12
Nicaragua            Americas     3112.363948  ...    5675356  1.560338e+10
Panama               Americas     2480.380334  ...    3242173  3.180308e+10
Paraguay             Americas     1952.308701  ...    6667147  2.782093e+10
Peru                 Americas     3758.523437  ...   28674757  2.124486e+11
Puerto Rico          Americas     3081.959785  ...    3942491  7.620326e+10
Trinidad and Tobago  Americas     3023.271928  ...    1056608  1.902793e+10
United States        Americas    13990.482080  ...  301139947  1.293446e+13
Uruguay              Americas     5716.766744  ...    3447496  3.658298e+10
Venezuela            Americas     7689.799761  ...   26084662  2.977774e+11

[25 rows x 38 columns]
                    continent  gdpPercap_1952  ...   pop_2007      gdp_2007
country                                        ...
Argentina            Americas     5911.315053  ...   40301927  5.150336e+11
Bolivia              Americas     2677.326347  ...    9119152  3.485465e+10
Brazil               Americas     2108.944355  ...  190010647  1.722599e+12
Canada               Americas    11367.161120  ...   33390141  1.212704e+12
Chile                Americas     3939.978789  ...   16284741  2.144967e+11
Colombia             Americas     2144.115096  ...   44227550  3.098839e+11
Costa Rica           Americas     2627.009471  ...    4133884  3.987157e+10
Cuba                 Americas     5586.538780  ...   11416987  1.021604e+11
Dominican Republic   Americas     1397.717137  ...    9319622  5.615422e+10
Ecuador              Americas     3522.110717  ...   13755680  9.454640e+10
El Salvador          Americas     3048.302900  ...    6939688  3.975299e+10
Guatemala            Americas     2428.237769  ...   12572928  6.520383e+10
Haiti                Americas     1840.366939  ...    8502814  1.021730e+10
Honduras             Americas     2194.926204  ...    7483763  2.655487e+10
Jamaica              Americas     2898.530881  ...    2780132  2.035301e+10
Mexico               Americas     3478.125529  ...  108700891  1.301973e+12
Nicaragua            Americas     3112.363948  ...    5675356  1.560338e+10
Panama               Americas     2480.380334  ...    3242173  3.180308e+10
Paraguay             Americas     1952.308701  ...    6667147  2.782093e+10
Peru                 Americas     3758.523437  ...   28674757  2.124486e+11
Trinidad and Tobago  Americas     3023.271928  ...    1056608  1.902793e+10
United States        Americas    13990.482080  ...  301139947  1.293446e+13
Uruguay              Americas     5716.766744  ...    3447496  3.658298e+10
Venezuela            Americas     7689.799761  ...   26084662  2.977774e+11

[24 rows x 38 columns]
                     gdpPercap_1952  gdpPercap_1957  ...   pop_2007      gdp_2007
country                                              ...
Argentina               5911.315053     6856.856212  ...   40301927  5.150336e+11
Bolivia                 2677.326347     2127.686326  ...    9119152  3.485465e+10
Brazil                  2108.944355     2487.365989  ...  190010647  1.722599e+12
Canada                 11367.161120    12489.950060  ...   33390141  1.212704e+12
Chile                   3939.978789     4315.622723  ...   16284741  2.144967e+11
Colombia                2144.115096     2323.805581  ...   44227550  3.098839e+11
Costa Rica              2627.009471     2990.010802  ...    4133884  3.987157e+10
Cuba                    5586.538780     6092.174359  ...   11416987  1.021604e+11
Dominican Republic      1397.717137     1544.402995  ...    9319622  5.615422e+10
Ecuador                 3522.110717     3780.546651  ...   13755680  9.454640e+10
El Salvador             3048.302900     3421.523218  ...    6939688  3.975299e+10
Guatemala               2428.237769     2617.155967  ...   12572928  6.520383e+10
Haiti                   1840.366939     1726.887882  ...    8502814  1.021730e+10
Honduras                2194.926204     2220.487682  ...    7483763  2.655487e+10
Jamaica                 2898.530881     4756.525781  ...    2780132  2.035301e+10
Mexico                  3478.125529     4131.546641  ...  108700891  1.301973e+12
Nicaragua               3112.363948     3457.415947  ...    5675356  1.560338e+10
Panama                  2480.380334     2961.800905  ...    3242173  3.180308e+10
Paraguay                1952.308701     2046.154706  ...    6667147  2.782093e+10
Peru                    3758.523437     4245.256698  ...   28674757  2.124486e+11
Trinidad and Tobago     3023.271928     4100.393400  ...    1056608  1.902793e+10
United States          13990.482080    14847.127120  ...  301139947  1.293446e+13
Uruguay                 5716.766744     6150.772969  ...    3447496  3.658298e+10
Venezuela               7689.799761     9802.466526  ...   26084662  2.977774e+11

[24 rows x 37 columns]

## Inserting data

Inserting column data into your DataFrames is straightforward. Just add it in:

### <font color="red">Exercise 5: European data analysis

Import the GDP data for Europe. Write an expression to select each of the following:

* GDP per capita for all countries in 1982.
* GDP per capita for Denmark for all years.
* GDP per capita for all countries for years after 1985.
* GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952. Show a DataFrame with 1952, 2007, and "2007 vs. 1952", for example:

                        gdpPercap_1952  gdpPercap_2007  2007/1952
country                                                          
Albania                    1601.056136     5937.029526   3.708196
Austria                    6137.076492    36126.492700   5.886596
Belgium                    8343.105127    33692.605080   4.038377
Bosnia and Herzegovina      973.533195     7446.298803   7.648736
Bulgaria                   2444.286648    10680.792820   4.369697

In [0]:
#europe = pd.read_csv("gdp_europe.csv", index_col="country")
europe = data_europe